button,
input[type="submit"] {
  @include font(accent, $font-size-medium, $line-height-smaller);
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  border: 0;
  background: $black;
  color: $white;
  padding: 12px 85px;
  cursor: pointer;
  transition: all 0.7s ease;

  @include phone {
    width: 100%;
    padding: 14px 40px 15px;
  }

  &:hover {
    color: $yellow;
  }
}