body {
  background: $lightest-gray;
  font: 18px/1.6 "Roboto", Arial, Helevtica, sans-serif;
  color: $darkest-gray;
  margin: 0;
}

a {
  color: $black;
  text-decoration: none;
}

p {
  margin: 0 0 24px;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .md-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}