// Colors

$yellow: #F7BB33;
$red: #B33F27;
$blue: #0093C0;
$white: #FFF;
$lightest-gray: #F7F9F9;
$light-gray: #EAECEE;
$silver: #C2CACF;
$dark-gray: #9DA4A7;
$darkest-gray: #535356;
$black: #352E31;